@font-face {
  font-family: 'monument_extendedregular';
  src: url('/regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'monument_extendedregular', 'Courier New', Courier, monospace;
}

body {
  color: white;
  background-color: black;
  overscroll-behavior-y: none;
}

.circular-progressive {
  border-radius: 50%;
}
